@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15); /* Glassmorphism effect with increased transparency */
  backdrop-filter: blur(15px); /* Increased blur for a more pronounced glass effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  z-index: 50;
}


.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  object-fit: contain;
  margin-right: 10px;
}

.siteTitle {
  font-size: 1.2rem;
  color: #ff9900; /* Custom color for site title */
}

.menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px; /* Position the menu below the header */
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9); /* Dark background for menu */
  padding: 20px 0;
  z-index: 49;
}

.navButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white; /* Button text color */
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0; /* Spacing between buttons */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navButton:hover {
  background-color: #84309c; /* Button hover color */
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    background: transparent;
    flex-grow: 1;
    padding: 0;
  }

  .navButton {
    margin: 0 10px; /* Spacing between buttons */
  }

  .menuButton {
    display: none; /* Hide burger menu on large screens */
  }
}
